.tasks {
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem;
    padding: 1rem;
}

.tasks + .tasks {
    margin-top: 0.75rem;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.checkmark {
    position: absolute;
    height: 1.090625rem;
    width: 1.090625rem;
    background-color: var(--gray-500);
    border: 2px solid var(--blue);
    border-radius: 0.9rem ;
    cursor: pointer;
}

.container:hover input ~ .checkmark {
    background-color: var(--gray-500);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--purple-dark);
    border: 0px solid var(--blue);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.tasks .container input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;

    border: 1px solid;
    border-radius: 1rem;
    
    background-color: transparent;
    color: transparent;

    visibility: hidden;
}

.tasks .container p {
    color: var(--gray-100);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.9rem;

    width: 39.2rem;
    height: 2.5rem;

    margin-right: 2.75rem;
    margin-left: 0.75rem;
}

.concluido {
    text-decoration: line-through;
    color: var(--gray-300) !important;
}

.tasks .container button {
    color: var(--gray-300);
    background: transparent;
    border: 0px solid transparent;
    cursor: pointer;
}

.tasks .container button:hover {
    opacity: 0.8;
    transform: 2s;
}